# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=taskflow

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRATION=1d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App
PORT=3000
NODE_ENV=development 

#Cache
CACHE_USER_BY_ID_TTL_SECONDS=600
CACHE_TASK_BY_ID_TTL_SECONDS=180
CACHE_TASK_LIST_TTL_SECONDS=30